@font-face {
  font-family: tron;
  src: url('lib/font/TRON.TTF');
}

*{
  color: rgb(0, 204, 255);
  text-align: center;
  font-family: tron;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(36, 36, 36, 0.589), rgba(29, 29, 29, 0.281)),
  center / cover url(./lib/img/tronpaper.jpg);
}

#game {
  border: 1px solid;
  margin: auto;
  display: block;
  background: linear-gradient(rgba(0, 247, 255, 0.041), rgba(0, 225, 255, 0.233)),
  center / cover url(./lib/img/tronpaper.png);
  transition: 10s;
  position: relative;
}

.welcome-screen{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.815);
  height: 599px;
  width: 600px;
  left: 26.25rem;
  top: 7.6rem;
  font-family: 'Roboto', sans-serif;
}

#start{
  visibility: show;
}

.hide {
  visibility: hidden;
}

.shown {
  visibility: show;
}

.welcome-screen p{
  font-family: 'Roboto', sans-serif;
  padding: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  visibility: show
}

.main{
  display: grid;
  grid-template-columns: 1fr 40rem 1fr;
}

h1 {
  position: relative;
  z-index: 5;
  font-size: 3rem;
  margin: 1rem 0;
  text-decoration: underline;
}

h3{
  font-size: 2.5rem;
}

.left-side h3, .left-side h4, .left-side span {
  color: rgb(255, 255, 81)
};

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: .5rem;
  color: gray;
}

.fa-github{
  color: gray;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.score, .score span{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

ul{
  margin-bottom: 3.5rem;
}

ul li{
  display: inline;
  padding: 0 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

ul li:hover{
  filter: brightness(150%);
  cursor: pointer;
}

/* Silly magic */

.fa-github:hover{
  animation: 🦄 2s linear infinite;
  color: rgb(255, 111, 255);
  cursor: pointer;
}

@keyframes 🦄 {
  0% {
    filter: hue-rotate(-90deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(-90deg);
  }
}

.fa-caret-right{
  padding-right: .5rem;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 20%, 60%, 100%{
    transform: translateX(-5px);
  }
  40%, 80% {
    transform: translateX(0);
  }
}

.left-side .controls p{
  color: rgb(255, 255, 81)
}

.controls p{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.controls p:first-child{
  padding-top: 5rem;
}