@font-face {
  font-family: tron;
  src: url('lib/font/TRON.TTF');
}

*{
  color: rgb(0, 204, 255);
  text-align: center;
  font-family: tron;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(36, 36, 36, 0.589), rgba(29, 29, 29, 0.281)),
  center / cover url(./lib/img/tronpaper.jpg);
}


#game {
  border: 1px solid;
  margin: auto;
  display: block;
  background: linear-gradient(rgba(0, 247, 255, 0.041), rgba(0, 225, 255, 0.233)),
  center / cover url(./lib/img/tronpaper.png);
  transition: 10s;
}

.main{
  display: grid;
  grid-template-columns: 1fr 40rem 1fr;
}

h1 {
  position: relative;
  z-index: 5;
  font-size: 3rem;
  margin: 1rem 0;
  text-decoration: underline;
}

h3{
  font-size: 2.5rem;
}

.left-side h3, .left-side h4, .left-side span {
  color: rgb(255, 255, 81)
};

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: .5rem;
  color: gray;
}

.fa-github{
  color: gray;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.fa-github:hover{
  animation: 🦄 2s linear infinite;
  color: rgb(255, 111, 255);
  cursor: pointer;
}

@keyframes 🦄 {
  0% {
    filter: hue-rotate(-90deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(-90deg);
  }
}

ul{
  margin-bottom: 3.5rem;
}

ul li{
  display: inline;
  padding: 0 3rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;

}

ul li:hover{
  filter: brightness(150%);
  cursor: pointer;
}
